.home-main {
  min-height: 100vh;
  .hero-section {
    height: 100vh;
    // background-image: url("../../../assets/anna-dudkova-urs_y9NwFcc-unsplash.jpg");
    // background-size: cover;
    .overlay {
      position: absolute;
      inset: 0;
      background-color: #0000007d;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .content {
      height: 100%;
      display: grid;
      place-content: center;
      position: relative;
      z-index: 2;
    }
    .hero-title {
      margin: auto;
      width: 60%;
      font-size: 50px;
      color: #fff;
    }
    .hero-subtitle {
      color: #fff;
      width: 60%;
      margin: auto;
      &:nth-child(4) {
        margin-top: 10px;
      }
    }
    .hero-tcu {
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 38%;
      a {
        color: #f0a37a;
      }
    }
    video {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .owner,
    .sitter {
      font-size: 22px;
    }
    .btn-container {
      width: 60%;
      margin: 20px auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .home-main {
    .hero-section {
      .hero-title {
        font-size: 30px;
        margin-bottom: 15px;
      }
      .hero-subtitle {
        font-size: 18px;
      }
      .hero-title,
      .hero-subtitle,
      .btn-container {
        width: 80%;
      }
    }
  }
}
