.SlideCardList {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;

  .SlideCard {
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    left: 0;
    top: 0;
    position: absolute;
    transition: opacity 1s;
    .img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--hide {
      opacity: 0;
    }
    &--display {
      animation: slide 1s forwards;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
